{% extends 'base.html.twig' %}

{% block title %}New Resolution{% endblock %}

{% block body %}
    <h1>Create new Resolution</h1>

    {{ include('resolution/_form.html.twig') }}

    <a href="{{ path('resolution_index') }}">back to list</a>
{% endblock %}
